<div class="container" *ngIf="!isLogged">
    <div class="row m-3">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                  Start Session
                </div>
                <div class="card-body">
                    <button class="btn btn-outline-danger btn-lg btn-block"(click)="signInWithGoogle()">
                        <i class="fab fa-google"></i> Login with Google
                    </button>
                </div>
              </div>
        </div>
    </div>
</div>

